package views;

templ Layout(content templ.Component, devMode bool) {
	<html data-theme="light">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="/assets/tailwind.css"/>
			<script type="application/javascript" src="/assets/htmx.min.js" defer></script>
			if devMode {
				<script>
				let ws;
				function connectWS() {
					ws = new WebSocket((location.protocol === "https:" ? "wss://" : "ws://") + location.host + "/live-reload-ws");
					ws.onopen = function() {
						// Connected, reload if this was a reconnect attempt
						if (window.__wasDisconnected) {
							location.reload();
						}
						window.__wasDisconnected = false;
					};
					ws.onclose = function() {
						window.__wasDisconnected = true;
						setTimeout(connectWS, 1000);
					};
				}
				connectWS();
				</script>
			}
		</head>
		<body class="w-screen h-screen bg-white" id="content">
			@content
		</body>
	</html>
}
